@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model resturant.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
@using resturant.Data
@using Microsoft.Extensions.Options

<h1>Checkout</h1>

@if (Model.Items == null)
{
    <p>You do not have any items in your Basket</p>
} else
{
    <form method="post">
        <table class="table" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items != null)
                {
                    @foreach (var item in Model.Items)
                    {
                        var subtotal = item.Price * item.Quantity;
                        <tr>
                            <td>@item.Item_Name</td>
                            <td>@item.Price.ToString("C")</td>
                            <td>@item.Quantity</td>
                            <td>@subtotal.ToString("C")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h2>Order Total : @Model.Total.ToString("C")</h2>

        <button type="submit" asp-asp-page-handler="Buy">Buy</button>
    </form>
}
