@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="welcome">
    <h1 class="display-4">Welcome</h1>
    <!--Search buttons that allows users to search specific records-->
    <h2>Search</h2>
    <form method="post">
        <div>Search <input asp-for="Search" /></div>
        <button type="submit" asp-page-handler="Search">Submit</button>
    </form>
</div>

    <div class="flex-container">
        @foreach (var tblFoodItems in Model.FoodItem)
        {
            <div>
                <p>@Html.DisplayFor(modelItem => tblFoodItems.Item_name)</p>
                <p>@Html.DisplayFor(modelItem => tblFoodItems.Price)</p>
                <p>@Html.DisplayFor(modelItem => tblFoodItems.Item_desc)</p>
                <form method="post">
                    <button type="submit" asp-page-handler="Buy" asp-route-itemID="@tblFoodItems.Id">
                        Add To Basket
                    </button>
                </form>
                @{
                    try
                    {
                        <td>
                            <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(tblFoodItems.ImageData))" alt="@tblFoodItems.ImageDescription" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img class="img-thumb" src="/img/no-image.png" alt="No Image provided" />
                        </td>
                    }


                }
                </div>
        }
    </div>
    


</div>
