@page
@model resturant.Pages.AdminMenu.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <!-- heading for item name-->
                @Html.DisplayNameFor(model => model.FoodItem[0].Item_name)
            </th>
            <th>
                <!-- heading for item description-->
                @Html.DisplayNameFor(model => model.FoodItem[0].Item_desc)
            </th>
            <th>
                <!-- heading for item available-->
                @Html.DisplayNameFor(model => model.FoodItem[0].Available)
            </th>
            <th>
                <!-- heading for item vegetarian-->
                @Html.DisplayNameFor(model => model.FoodItem[0].Vegetarian)
            </th>
            <th>
                <!-- heading for item price-->
                @Html.DisplayNameFor(model => model.FoodItem[0].Price)
            </th>
            <th>
                <!-- heading for image data-->
                @Html.DisplayNameFor(model => model.FoodItem[0].ImageData)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FoodItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                @{
                    // statement for displaying the image
                    try
                    {
                        <td>
                        <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" /> 
                        </td>
                    } catch
                    {
                        <td>
                        <img class="img-thumb" src="/Images/no-image.png" alt="No Image provided" />
                        </td>
                    }
                }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
